.Game__Cell {
  padding: 6px;
  border: 1px solid #C0C0C0;
  line-height: 1;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  text-align: center;
}

.Game__Cell::before {
  content: '\200B';
}

.Game__Cell[data-hint="true"] {
  font-weight: bold;
  background-color: #eee;
}

.Game__Cell[data-selected="true"] {
  outline: 2px solid #7486ce;
  outline-offset: -2px;
  background-color: rgba(116, 179, 206, 0.5);
}

.Game__Cell--highlight:not([data-selected="true"]) {
  outline: 2px solid #7486ce;
  outline-offset: -2px;
  color: #7486ce;
}